<div id="<%= dom_id match %>">
  <p>
    <strong>First user:</strong>
    <%= match.first_user_id %>
  </p>

  <p>
    <strong>Second user:</strong>
    <%= match.second_user_id %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= match.target_id %>
  </p>

</div>
